
<div class="modal fade" tabindex="-1" role="dialog" id = 'brag-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
        
      <div class="modal-body">

        <div class = 'pull-right'>
          <button type="button" class="btn btn-default" ng-click = 'likeBrag(selectedBrag, true)' ng-show = '!selectedBrag.liked'>Like</button>
          <button type="button" class="btn btn-default" ng-click = 'likeBrag(selectedBrag, false)' ng-show = 'selectedBrag.liked'>Unlike</button>
        </div>
        <h2 class="editable" id = 'edit-brag-title'>{{selectedBrag.title}}</h2>
        <p class = 'editable' id = 'edit-brag-body'>{{selectedBrag.body}}
        </p>

        <img ng-show = 'selectedBrag.photo_url != ""' src = '{{selectedBrag.photo_url}}' class = 'brag-modal-photo'>

        <div class = 'box'>
	       <div>
          Subject: 
          <span class = 'editable' id = 'edit-brag-subject'>{{selectedBrag.subject}}</span>
        </div>
	       <div>Author: {{selectedBrag.author}}</div>
	       
	       <div>Created At: 
            {{selectedBrag.created_at}}
        </div>
      </div>
        

        

        <div id = 'update-brag-photo-div' class = 'box'>
          <form class="update-photo-form" id="update-photo-form" enctype="multipart/form-data" action="/brags/update_photo" accept-charset="UTF-8" method="post">
            <div>Update Brag Photo</div>
          <input  type = 'hidden' name = 'id' value = '{{selectedBrag.id}}'>
          <input type="file" name="avatar" id="update-brag-avatar">
          <input type = 'submit' class = 'btn btn-default' value = 'Update Photo'>
          </form>
          <button class = 'btn btn-default' ng-click = 'deleteBragPhoto(selectedBrag)'>Delete Photo</button>
      </div>

      <div class = 'admin-controls box'>
          <button class = 'btn btn-default' ng-click = 'updateBrag(selectedBrag)'>Save Changes</button>
         <button class = 'btn btn-default' ng-click = 'deleteBrag(selectedBrag)'>Delete</button>
      </div>


      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->