
<div class = 'col-md-4'>
  <div ng-repeat = 'event in events' class = 'board-card event-card' ng-click = 'showEventModal(event)'>
  <h3>{{event.title}}</h3>
  <div>Desc: {{event.description}}</div>
  <div>Time: {{event.time}}</div>
  <div>Organizer: {{event.organizer}}</div>
  <div>Location: {{event.location}}</div>
  <div>Response: {{event.response}}</div>
</div>
</div>

<div class = 'col-md-4'>

<div ng-repeat = 'brag in brags' class = 'board-card brag-card' ng-click = 'showBragModal(brag)'>
  <h3>{{brag.title}}</h3>
  <div>Body: {{brag.body}}</div>
  <div>Subject: {{brag.subject}}</div>
  <div>Author: {{brag.author}}</div>
  <div>Liked:{{brag.liked}}</div>
</div>
</div>

<div class = 'col-md-4'>

<div ng-repeat = 'post in posts' class = 'board-card post-card' ng-click = 'showPostModal(post)'>
  <h3>{{post.title}}</h3>
  <div>{{post.author}}</div>
  <div>{{post.original.body}}</div>
  <div>Comments</div>
  <div ng-repeat = 'comment in post.comments'>
    <div>{{comment.body}}</div>
    <div>{{comment.author}}</div>
  </div>
</div>
</div>

<nav style = 'border-radius:0px; margin-bottom:15px; padding:0px; ' class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    	<li>
      		<a href = 'javascript:void(0)'>BHGH Board</a>
      	</li>
    </ul>
      <ul class="nav navbar-nav pull-right">
      	
      	<li>
      		<a href = 'javascript:void(0)' ng-click = 'showAddEvent()'>+ Event</a></li>
      	</li>
      	<li><a href = 'javascript:void(0)' ng-click = 'showAddBrag()'>+ Brag</a></li>
        <li><a href = 'javascript:void(0)' ng-click = 'showAddQuestion()'>+ Question</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="modal fade" tabindex="-1" role="dialog" id = 'add-question-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Add a question</h1>
        Title: <input type = 'text' ng-model = 'newPost.title' placeholder = 'title' class = 'form-control'>
        Body: <input type = 'text' ng-model = 'newPost.body' aceholder = 'body' class = 'form-control'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click = 'saveQuestion()'>Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id = 'add-event-modal'>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <h1>Add an event</h1>
        Title: <input type = 'text' ng-model = 'newEvent.title' placeholder = 'title' class = 'form-control'>
        Organizer: <input type = 'text' ng-model = 'newEvent.organizer' placeholder= 'organizer' class = 'form-control'>
        Time: <input type = 'text' ng-model = 'newEvent.time' placeholder = 'time' class = 'form-control'>
        Location: <input type = 'text' ng-model = 'newEvent.location' placeholder = 'location' class = 'form-control'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click = 'saveEvent()'>Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id = 'add-brag-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Add a brag</h1>
        <input type = 'text' ng-model = 'newBrag.title' placeholder = 'title' class = 'form-control'>
        <input type = 'text' ng-model = 'newBrag.subject' placeholder = 'subject' class = 'form-control'>
        <input type = 'text' ng-model = 'newBrag.body' placeholder = 'body' class = 'form-control'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click = 'saveBrag()'>Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id = 'event-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<h3 class = 'editable'>{{selectedEvent.title}}</h3>
	       <div>Time: {{selectedEvent.time}}</div>
	       <div>Organizer: {{selectedEvent.organizer}}</div>
	       <div>Description: {{selectedEvent.description}}</div>
	       <h3>Location</h3>
	       <div>{{selectedEvent.location}}</div>
	       <img src = '/sample_map.png' style = 'width:100%'>
        <button type="button" class="btn btn-default" ng-class = 'selectedEvent.response == "Going" ? "selected-response" : ""' ng-click = 'respondToEvent(selectedEvent, "Going")'>Going</button>
        <button type="button" class="btn btn-default" ng-click = 'respondToEvent(selectedEvent, "Interested")' ng-class = 'selectedEvent.response == "Interested" ? "selected-response" : ""'>Interested</button>
        <button type="button" class="btn btn-default" ng-click = 'respondToEvent(selectedEvent, "Not Going")' ng-class = 'selectedEvent.response == "Not Going" ? "selected-response" : ""'>Not Going</button>

        <button class = 'btn btn-success pull-right'>Save Changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id = 'brag-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
        
      <div class="modal-body">
        <h4 class="editable" id = 'edit-brag-title'>{{selectedBrag.title}}</h4>
	       <div>
          Subject: 
          <span class = 'editable' id = 'edit-brag-subject'>{{selectedBrag.subject}}</span>
        </div>
	       <div>Author: {{selectedBrag.author}}</div>
	       <div>Body: 
          <span  class = 'editable' id = 'edit-brag-body'>{{selectedBrag.body}}</span>
        </div>
	       <div>Created At: 
            {{selectedBrag.created_at}}
        </div>
        <button type="button" class="btn btn-default" ng-click = 'likeBrag(selectedBrag, true)' ng-show = '!selectedBrag.liked'>Like</button>
        <button type="button" class="btn btn-default" ng-click = 'likeBrag(selectedBrag, false)' ng-show = 'selectedBrag.liked'>Unlike</button>

        <button class = 'btn btn-default pull-right' ng-click = 'updateBrag(selectedBrag)'>Save Changes</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->