<div class="modal fade" tabindex="-1" role="dialog" id = 'event-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class = 'pull-right'>
          <button type="button" class="btn btn-default" ng-class = 'selectedEvent.response == "Going" ? "selected-response" : ""' ng-click = 'respondToEvent(selectedEvent, "Going")'>Going</button>
          <button type="button" class="btn btn-default" ng-click = 'respondToEvent(selectedEvent, "Interested")' ng-class = 'selectedEvent.response == "Interested" ? "selected-response" : ""'>Interested</button>
          <button type="button" class="btn btn-default" ng-click = 'respondToEvent(selectedEvent, "Not Going")' ng-class = 'selectedEvent.response == "Not Going" ? "selected-response" : ""'>Not Going</button>
        </div>

      	<h2 class = 'editable'>{{selectedEvent.title}}</h2>
        <p class = 'editable'>{{selectedEvent.description}}</p>

	       <div>Time: {{selectedEvent.time}}</div>
	       <div>Organizer: {{selectedEvent.organizer}}</div>
	       
 

         <h3>Location</h3>
	       <div>{{selectedEvent.location}}</div>
 <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 400px;
      }
    </style>

    <div id="map"></div>
    

    <div class = 'box'>
        <button class = 'btn btn-success'>Save Changes</button>
        <button class = 'btn btn-danger' ng-click = 'deleteEvent(selectedEvent)'>Delete</button>
      </div>

        
       

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->