h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: 'Open Sans';*/
}
p, div {
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: 'Open Sans';*/
}
a{
	color: #0077CC;
}
.img-preview{
	height:100px;
}
.hidden{
	display:none;
}
.event-input{
	width:100%;
}
.brag-input{
	width:100%;
}
.response-input{
	width:100%;
}
#main-row{
}
.event-photo{
	width:100%;
}
#main-row:after {
	height:1000px;
    content : "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/home_img.jpg");
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}

#top-jumbotron{
	color:white;
	text-align:center;
	background-color:black;
	color:#f2f2f2;
}
#search-input{
	margin-top:2em;
	text-align: center;
	width:75%;
	margin-left:15%;
	border:none;
	border-radius:0px;
}
.centered{
	width:100%;
	text-align: center;
}

body { 
	background-color:#fafafa !important;
	/*padding-top: 100px; */
}
/*body { padding-top: 70px; }*/

img:hover{
	cursor:pointer;
}
.btn{
	border-radius:0px !important;
}
.navbar .navbar-default{
	text-align:center !important;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background-color: rgba(6, 147, 192, 0.64);
	border:0px;
	text-align: center;
	position:fixed;
}	
nav.navbar.navbar-default.navbar-fixed-top .navbar-nav>li>a{
	color:white;
}

.smalltext{
	font-size:0.7em;
}
.item-card{
	padding:15px;
	max-width:350px;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
}
.grid-item{
	padding:10px;
}
.grid{
	margin-left:30px;
	margin-right:30px;
}
.card-photo{
	width:200px;
}
.brag-card{
	/*background-color:rgba(0, 255, 55, 0.06);*/
	/*width:300px;*/
	padding-top:0px !important;
	background-color: #F8FDFF !important;
}
.event-card{
	/*background-color:rgba(0, 102, 255, 0.03);*/
	/*width:300px;*/
	background-color: rgb(253, 255, 252) !important;
}
.post-card{
	/*background-color:rgba(0, 102, 255, 0.03);*/
	/*width:300px;*/
	background-color:#FFFBF8 !important;
}

.brag-modal{
	width:500px;
	height:200px;
}
.modal-content{
	border-radius:0px !important;
}
#add-btn{
	position:fixed;
	right:10px;
	bottom:10px;
}
.board-card{
	float:left;
	margin:10px;
	padding:15px;
	width:100%;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(100,100,100,0.3);
	overflow:hidden;
	cursor:pointer;
	line-height:2em;
	background-color: white;
}
.selected-response{
	background-color:#AAF7BE !important;
}
.gravatar{
	border-radius:100px;
	height:50px;
	display:none;
}
.small-gravatar{
	height:30px;
	/*border-radius:100px;*/
}
.response-div{
	padding:10px;
	margin:10px;
	background-color:#f9f9f9;
}
#btns-container{
	bottom:0px;
	right:0px;
	margin-right:10px;
	margin-bottom:10px;
}
.round-btn{
	height:75px;
	width:75px;
	border-radius:1000px !important;
}
#save-response-btn{
	margin-top:10px;
}
#post-input-div{
	padding:15px;
	padding-left:30px;
	padding-right:30px;
	margin:10px;
	background-color:#f9f9f9;
}
#delete-post-btn{
	margin-right:10px;
}
.admin-controls{
	padding: 10px;
	margin:5px;
}
.brag-img-div{
	margin-bottom:10px;
	max-height:200px;
	overflow:hidden;
}
.brag-modal-photo{
	width:100%;
}
.modal{
	line-height:2em;
}
.box{
	margin:10px;
	padding:15px;
	background-color:#f9f9f9;
}
#months-select{
	text-align: left;
}
#months-select>div>a{
	color:white !important;
}