h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Open Sans';
}
p, div {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Open Sans';
}
a{
	color: #0077CC;
}

body { 
	/*padding-top: 100px; */
}
body { padding-top: 70px; }

img:hover{
	cursor:pointer;
}
.btn{
	border-radius:0px !important;
}
.navbar .navbar-default{
	text-align:center !important;
}
nav.navbar.navbar-default.navbar-fixed-top{
	background-color: rgba(6, 147, 192, 0.64);
	border:0px;
	text-align: center;
	position:fixed;
}	
nav.navbar.navbar-default.navbar-fixed-top .navbar-nav>li>a{
	color:white;
}

.smalltext{
	font-size:0.7em;
}
.item-card{
	padding:15px;
	max-width:350px;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
}
.grid-item{
	padding:10px;
}
.grid{
	margin-left:30px;
	margin-right:30px;
}
.card-photo{
	width:200px;
}
.brag-card{
	/*background-color:rgba(0, 255, 55, 0.06);*/
	width:300px;
	background-color:#D9EDF7;
}
.event-card{
	/*background-color:rgba(0, 102, 255, 0.03);*/
	width:300px;
	background-color:#DFF0D8;
}
.board-card{
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
	height:400px;
	width:300px;
	padding:10px;
	float:left;
	margin:10px;
}
.brag-modal{
	width:500px;
	height:200px;
}
.modal-content{
	border-radius:0px !important;
}