h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Open Sans';
}
p, div {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Open Sans';
}
a{
	color: #0077CC;
}
body { padding-top: 100px; }

img:hover{
	cursor:pointer;
}