<!DOCTYPE html>
<html>
<head>
  <title>Boys and Girls Club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Optional theme https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css-->
  <link rel="stylesheet" href="/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js-->
  <script src="/bootstrap.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
